.head {
  text-align: center;
  margin-top: 60px;

}

.head h1{
    color: rgb(224, 217, 217);
    font-size: 48px;
}



.text b{
    color:rgb(43, 170, 243);
}

.text h4{
    font-size: medium;
    margin-left: 10px;
}


.bio span{
    color: rgb(43, 170, 243);
  
}
@media (min-width: 600px) {
    .head h1{
        color: rgb(224, 217, 217);
        font-size:68px;
    }
    
    .head h3{
        position: absolute;
         
    }
    .text h4{
        font-size: x-large;
    }
    

.text b{
    color:rgb(43, 170, 243);
}
.text span{
 
    margin-bottom: 10px;
}

.bio{

    padding-bottom: 15px;
}
.bio span{
    color: rgb(43, 170, 243);

}
    
}
