

img{
   max-width:100%; 
    height: auto;
    filter:blur(3px);
    -o-filter:blur(3px);
    -ms-filter:blur(3px);
    -moz-filter:blur(3px);
    -webkit-filter:blur(3px);
}



 .text{
    position: absolute;
    top:10px;
    left:38%;
    text-align: center;
    color:white ;

 }

 .text h3{
    color: rgb(224, 217, 217);
    font-size: 1rem;
 }

 .text h1{
    font-size: 2rem;
    font-weight: bold;
 }

 .text h5{
    font-size: 0.8rem ;
    color: rgb(224, 217, 217);
 }


 
@media (min-width: 600px) {
   img {
     width: 1520px;
     height: 500px;
  
   }

   .text{
      top:110px;
      left:38%;
   }

   .text h3{
      color: rgb(224, 217, 217);
      font-size: 1.7rem;
   }
  
   .text h1{
      font-size: 3rem;
      font-weight: bold;
   }
  
   .text h5{
      font-size: 1.3rem ;
      color: rgb(224, 217, 217);
   }
 
   
 }

